@import '../../styles/sass/variables';

.button {
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button-purple {
  background-color: $purple;
  font-size: 1rem;
  padding: 1rem 1.5rem;
}

.button-blue {
  background-color: $blue-dark;
  width: 100%;
  font-size: 24px;
  padding: 0.75rem 0;
}
