@import '../../styles/sass/variables';

.btn {
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.btn-md {
  background-color: $purple-dark;
  font-family: 'Roboto-Medium';
  font-size: 0.875rem;
  padding: 1rem 1.75rem;
  transition: background-color 0.5s, transform 0.3s;

  &:hover {
    background-color: $purple-hover;
    transform: scale(1.05);
  }
}

.btn-lg {
  background-color: $purple-dark;
  font-family: 'Roboto-Medium';
  font-size: 1.125rem;
  padding: 1.75rem 6rem;
  transition: background-color 0.5s, transform 0.3s;

  &:hover {
    background-color: $purple-hover;
    transform: scale(1.05);
  }
}

.btn-orange {
  background-color: $orange;
  font-family: 'Roboto-Medium';
  font-size: 1.125rem;
  padding: 1.75rem 6rem;
  transition: background-color 0.5s, transform 0.3s;

  &:hover {
    background-color: $orange;
    transform: scale(1.05);
  }
}