@import './variables';

@font-face {
  font-family: Roboto-Regular;
  src: url(../../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Medium;
  src: url(../../assets/fonts/Roboto-Medium.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../../assets/fonts/Roboto-Bold.ttf);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto-Regular', sans-serif;
}

body {
  min-height: 100vh;
  color: $default-color;
}

h1,
h2,
h3,
h4 {
  font-family: 'Roboto-Bold';
}

img {
  width: 100%;
}