$default-color: #272D4E;
$default-color-hover: #525ea3;

$purple-dark: #7854F7;
$purple-light: #7854F780;
$purple-transparent: #5F37EF1A;
$purple-hover: #8b6df8;

$blue-dark: #0E65F3;
$blue-light: #1A88EE;

$orange: #FFBA49;