.header {
  font-family: 'Roboto-Medium';
  font-size: 1.125rem;
  padding: 2rem 5.75rem 0;

  .navbar {
    display: grid;
    grid-template-columns: fit-content(100%) auto fit-content(100%);
    align-items: center;

    .logo {
      font-size: 1em;
    }
  
    .list {
      list-style: none;
      display: flex;
  
      .item:nth-of-type(1) {
        margin: 0 4.25rem 0 14.25rem;
      }
  
      .item:nth-of-type(3) {
        margin: 0 1rem 0 auto;
      }
    }
  }
}
